<!DOCTYPE html>
<html>
  <head>
    <title>SaaS Notes</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <header>
      <h2>SaaS Notes App</h2>
      <nav>
        <a href="/notes">Notes</a>
        <a href="/login" onclick="localStorage.clear()">Logout</a>
      </nav>
    </header>
    <main><%- body %></main>
  </body>
</html>
